$font-lobster: 'Lobster Two', cursive;

body{
    text-align: center;
    font-family: 'Nunito', sans-serif;
}

.hero{
    background: #3D3E3E;
    height: 100vh;
    width: 100vw;
    color: #F9FAFA;
}

.hero-header_psuedoIcon{
    font-family: $font-lobster;
    font-weight: 700;
    font-size: 2rem;
}

.flip-panel{
    height: 10%;
    width: 100%;
    background-color: red;
    transition: transform .5s ease;
}

@for $i from 1 through 10{
    .panel-#{$i}{
        transform: translateY(calc(#{$i} * -100%));
    }
}